.header {
  padding: 0 24px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

.main {
  min-height: calc(100vh - 64px - 65px); // 减去头部和底部的高度
}

.footer {
  text-align: center; // 居中
  background-color: #f0f2f5;
  border-top: 1px solid #e8e8e8; // 顶部边框
}
